@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik+Vinyl&display=swap');
   
body
{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Belanosima', sans-serif;
    
    background-color: #fff;
    color: #db5c1b;
}
.loader-layout
{
    margin: auto;
    display: flex;
    width: 250px;
}
.loader-grid
{
    margin: auto;
    margin-right: 1px;
    width: 50px;
    height: 50px;
    display: grid;
    gap: 0px;
    grid-template-columns: auto auto;
    animation: rotate 2s linear 0s infinite;
}
.item1
{
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 0%;
    background-color: #db5c1b;
}
.item2
{
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 0%;
        background-color: #db5c1b;
}
.item3
{
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 0%;
        background-color: #db5c1b;
}
.item4
{
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 0%;
        background-color: #db5c1b;
}
@keyframes rotate 
{
    0%{rotate: 0deg; transform: scale(0.6);}
    50%{ rotate: 100deg; transform: scale(0.4);}    
    100%{rotate: 360deg; transform: scale(0.6);}
}
.loader-loader-h
{
    margin: auto;
    margin-left: 5px;
}

.hidden {
    display: none;
}
        